{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Aplicación de tareas</h1>
        Bienvenido a esta aplicacion que le ayudara a guardar tareas para asi realizarlas mas tarde
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Iniciar Sesión
        </a>
        <a class="btn btn-dark" href="/signup/">
            Crear Cuenta Nueva
        </a>
    </div>
    </section>
</main>
{% endblock %}
